body {
    color: #282425;
    background-color: #fff1e6;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
}
h1,
h2,
h3,
a {
    color: #756158;
}

.calendar {
    text-align: center;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    font-style: italic; 
}

h1 {
     font-size:   80px ;
    text-align: center;
    color: white;
    margin: 0;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}

h2 {
    font-size: 48px;
    text-align: center;
    margin-top: 0;
}

h3 {
    font-size: 24px;
    margin-top: 36px;
}

a {
    font-style: italic;
}


.fotogalerie,
.kontakt {
    background-color: #f9e3d0;
}


.footer {
    width: 100%;
    background-color: #282425;
    color: white;
    text-align: center;
    padding: 20px 0;
}


.foto-omne {
    width: 200px;
    border-radius: 50%;
    float: left;
    margin: 0 30px 30px 0;
}

.fotogalerie img {
    width: 32%;
    border: 2px solid #756158;
    border-radius: 10px;
}

.foto-pruvodce {
    width: 350px;
    border-radius: 0 50px 50px 50px;
    float: right;
    margin: 0 0 30px 30px;
}

.foto-kontakt {
    width: 350px;
    border-radius: 50px 0 50px 50px;
    float: left;
    margin: 0 30px 30px 0;
}


table {
    border-spacing: 0;
}

th,
td {
    text-align: left;
    border-bottom: 1px solid black;
    padding: 10px 0;
}

.cena {
    text-align: right;
    padding-left: 50px;
}


section {
    padding: 50px 15%;
    overflow: auto;
}


.header {
    padding:80px 30px; 
    /* background:#f9e3d0; */
    background-image: url(img/dan-gold-4_jhDO54BYg-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#profile_link{
    display: inline-block;
    color: #6e5642;
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
}
#profile_link a{
    text-decoration: none;
    font-style: normal;
    
}
#profile_link a:hover{
    color: #33261b;
    text-decoration: underline;
}
form{
    margin: 20px auto;
    width: 80%;
    padding: 10px;
    border: 1px solid #756158;
    border-radius: 5px;
    background-color: #f9e3d0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
form input, form select, form textarea{
    width: auto;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #756158;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    background-color: #756158;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.profile{
    margin: 0px auto 100px auto;
    width: 80%;
    padding: 10px;
    border: 1px solid #756158;
    border-radius: 5px;
    background-color: #f9e3d0;
}
.inline{
    display: inline-block;
    width: 50%;
    /* baseline */
    vertical-align: top;
}
#dayinfo{
    margin: 20px auto 20px auto;
    width: 80%;
    padding: 10px;
    border: 1px solid #756158;
    border-radius: 5px;
    background-color: #f9e3d0;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#dayinfo h3{
    margin: 2px;
    text-align: center;
}
#dayinfo #menu{

    display: inline-flex;
    flex: row;
    justify-content: space-between;
}
#dayinfo #menu p{
    width:-webkit-fill-available;
    align-self: anchor-center;
    font-style: italic;
    text-align: center;
}
#dayinfo #menu #info p{
    text-align: left;
}
#dayinfo #dayinfo_buttons{
    display: inline-flex;
    flex: row;
    justify-content: end;
}
#info{
    width: 30%;
    padding-left: 20px;
}
#info ol{
    padding-left:0px;
}
#info ol span{
    margin-left: 3px;
    opacity: 0;
    transition: .2s;
    cursor: pointer;
}

#info ol span:hover{
    opacity: 1;
    
    
}
.row,.column{
    display: flex;
}
.row{
    flex-direction: row;
    justify-content: space-between
}
.column{
    flex-direction: column;
}
.form-control{
    margin: 5px;
    display: flex;
    flex-direction: column;
    /* width: max-content; */
    width: 100%;
    
    }
.form-control>*{
    width: 100%;
}
.w-full{
    width: 100%;
}
.w-half{
    width: 50%;
}

#modal_add_meal_choosed_order_charts{
    display: grid;
    gap:5px;
    grid-template-columns: auto auto auto;
    
}
#modal_add_meal_choosed_order_description ul{
    list-style: " - ";

}
#liked_meal_or_product{
    height: 25px;
    width: 25px;
}